
.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

button {
    background: bisque ;
    border-radius: 10px;
    box-shadow: 0 0 3px navy;
    border: 2px solid darkred;
    color: maroon;
}